<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>910235672034-ls5n9hmfh7ca7soh6oo50jbdc178ouff.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.910235672034-ls5n9hmfh7ca7soh6oo50jbdc178ouff</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>910235672034-7php0dr36ip0so2hid1sf0ooic4c0v62.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBaokiMdJKekw0hT1AYwPZ-QoLOhiLpgAw</string>
	<key>GCM_SENDER_ID</key>
	<string>910235672034</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mad.tf.fau.de.HBPerformanceTracker</string>
	<key>PROJECT_ID</key>
	<string>handball-performance-tracker</string>
	<key>STORAGE_BUCKET</key>
	<string>handball-performance-tracker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:910235672034:ios:20dddb6aa5121578beedbb</string>
</dict>
</plist>